<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bnkfirst.mapper.SlfcertMapper">
    <sql id="expdtValue">
        <choose>
            <when test="#{slfcertDTO.ftype} == 'W8'">
                REPLACE(TO_CHAR(SYSDATE), SUBSTR(TO_CHAR(SYSDATE),1,4), TO_CHAR(SUBSTR(TO_CHAR(SYSDATE), 1, 4)+3)),
            </when>
            <otherwise>NULL,</otherwise>
        </choose>
    </sql>
    <sql id="krresValue">
        <choose>
            <when test="#{slfcertDTO.krres} == 'on'">
                'Y',
            </when>
            <otherwise>
                'N',
            </otherwise>
        </choose>
    </sql>
    <sql id="othersValue">
        <choose>
            <when test="#{slfcertDTO.others} == 'on'">
                'Y',
            </when>
            <otherwise>
                'N',
            </otherwise>
        </choose>
    </sql>
    <insert id="saveSlfcert">
        INSERT INTO SLFCERT (cusid, ftype, signdt, expdt, sts, taxyr, krres, "OTHERS",
                             natcd, name, gender, brthdt, zipcd, addr1, addr2, enlnm, enfnm,
                             phone, crtdt, uptdt)
        VALUES (#{slfcertDTO.cusid},
        VALUES (#{slfcertDTO.ftype},
                SYSDATE,
                <include refid="expdtValue"/>
                'VALID',
                #{slfcertDTO.taxyr}
                <include refid="krresValue"/>
                <include refid="othersValue"/>
                #{slfcertDTO.natcd},
                #{slfcertDTO.name},
                #{slfcertDTO.gender},
                DATE #{slfcertDTO.brthdt},
                #{slfcertDTO.zipcd},
                #{slfcertDTO.addr1},
                #{slfcertDTO.addr2},
                #{slfcertDTO.enlnm},
                #{slfcertDTO.enfnm},
                #{slfcertDTO.phone},
                SYSTIMESTAMP,
                SYSTIMESTAMP)
    </insert>
</mapper>