<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bnkfirst.mapper.StockMapper">

    <insert id="buyStock">
        INSERT INTO ETF (pcuid, pstock, pprice, psum, pname, pacc)
        VALUES (#{pcuid}, #{pstock}, #{pprice}, #{psum}, #{pname}, #{pacc})
    </insert>

    <update id="downBalance">
        update pcontract set pbalance = pbalance - (#{psum}) where pacc = #{pacc}
    </update>

</mapper>
