<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bnkfirst.mapper.UsersMapper">

    <!-- member_main -->
    <select id="findUserById" parameterType="string" resultType="kr.co.bnkfirst.dto.UsersDTO">
        SELECT
            MID AS mid,
            MPW AS mpw
        FROM USERS
        WHERE MID = #{mid}
    </select>

    <!-- member_info -->
    <insert id="insertUser" parameterType="kr.co.bnkfirst.entity.Users">
        INSERT INTO USERS (
            "uId", MID, MPW, MNAME, MGENDER, MJUMIN,
            MPHONE, MCARRIER, MBIRTH, MEMAIL, MADDRESS
        )
        VALUES (
                   SEQ_USERS.NEXTVAL,
                   #{mid}, #{mpw}, #{mname}, #{mgender}, #{mjumin},
                   #{mphone}, #{mcarrier}, #{mbirth, jdbcType=DATE},
                   #{memail, jdbcType=VARCHAR}, #{maddress, jdbcType=VARCHAR}
               )
    </insert>

</mapper>
